<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Productos </title>
</head>

<body>
  <h1> Lista de Productos </h1>
  <ul>
    {{#each payload}}
      <li>
        <strong>{{title}}</strong>: {{description}} - ${{price}}
      </li>
    {{/each}}
  </ul>

  <div>
    {{#if hasPrevPage}}
      <a href="?page={{prevPage}}"> Página anterior </a>
    {{/if}}

    {{#if hasNextPage}}
      <a href="?page={{nextPage}}"> Página siguiente </a>
    {{/if}}
  </div>
</body>
</html>